.reset-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.reset-card {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.reset-card h2 {
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: black;
}

.reset-card input {
  width: 100%;
  padding: 12px 15px;
  margin: 12px 0;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgb(172, 181, 184);
  font-size: 1rem;
}

.reset-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #0078ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.reset-card button:hover {
  background: #005fcc;
}

.back-login {
  margin-top: 15px;
}

.back-login a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 500px) {
  .reset-card {
    width: 90%;
    padding: 30px;
  }
}